@using BusinessObjects;

@model Dictionary<string, List<PetBO>>

@{
    ViewBag.Title = "Index";
}

@foreach (var gItem in Model)
{
    <ul>@gItem.Key</ul>
    foreach (var pItem in gItem.Value)
    {
        <li>
            @pItem.name
        </li>
    }
}