@model IEnumerable<BusinessObjects.OwnerPetBO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.name
        </td>
        <td>
            @item.gender
        </td>
        <td>
            @item.age
        </td>
        <td>
            @if(item.pets!=null)
            {
                @item.pets.Count
            }
        </td>
    </tr>
}

</table>
